<div>
  <table
    *ngIf="jokes$ | async as jokes; else spinner"
    mat-table
    [dataSource]="jokes"
    matSort
    matSortActive="created"
    matSortDisableClear
    matSortDirection="desc"
  >
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let row">
        <img
          [ngClass]="{
            greyscale: row.flags.racist,
            dark: row.category === 'Dark',
            blurred: row.flags.racist
          }"
          [src]="row.imgSrc"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <ng-container matColumnDef="jokeContent">
      <th mat-header-cell *matHeaderCellDef>Joke Content</th>
      <td mat-cell *matCellDef="let row">
        <p *ngIf="row.type === 'twopart'">
          <span>{{ row.setup }}</span>
          <br />
          <br />
          <span> {{ row.delivery }}</span>
        </p>
        <p *ngIf="row.type !== 'twopart'">
          <span>{{ row.joke }}</span>
        </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let row">{{ row.category }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<ng-template #spinner>
  <div #spinner class="loading-shade">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
</ng-template>

<mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
